.swiper-slide {
  transition: transform 0.3s ease;
  width: 500px;
  justify-content: center;
  display: flex;
}
.swiper-container{
  padding: 70px 0;
}
.swiper-wrapper{
  padding: 90px 0px;
}

.left-slide{
    top: 45px;
    transform: rotate(-10deg)!important;
}
.right-slide{
    transform: rotate(10deg)!important;
    top: 45px;
}
img{
    height: 660px!important;
    width: 375px!important;
}
.client-details h1{
  line-height: 60px!important;
}
.client-details p{
  line-height: 28.15px!important;
}
.swiper-container .swiper{
  padding: 30px 0;
  height: 770px !important;
}

@media screen and (max-width:430px){  
  .swiper-container{
    padding: 70px 0px 0 0;
  }
  .client-details h1{
    font-size: 24px;
    line-height: 40px!important;
  }
  .client-details p{
    font-size: 16px;
    line-height: 22px!important;
  }
  .swiper-container .swiper .swiper-slide{
    width: 180px;
    height: 300px;
    margin-right: 190px!important;
  }
  .swiper-container .swiper .swiper-slide img{
    height: 255px !important;
    max-width: 180px !important;
  }
  .right-slide{
    transform: rotate(10deg)!important;
    top: 13px;
  }
  .left-slide{
    top: 13px;
    transform: rotate(-10deg)!important;
  }
  .swiper-container .swiper {
    padding: 30px 0;
    height: 325px !important;
  }
}
@media screen and (min-width:431px) and (max-width:580px){  
  .swiper-container{
    padding: 70px 0px 0 0;
  }
  .client-details h1{
    font-size: 24px;
    line-height: 40px!important;
  }
  .client-details p{
    font-size: 16px;
    line-height: 22px!important;
  }
  .swiper-container .swiper .swiper-slide{
    width: 180px;
    height: 300px;
    margin-right: 130px!important;
  }
  .swiper-container .swiper .swiper-slide img{
    height: 300px !important;
    max-width: 180px !important;
  }
  .right-slide{
    transform: rotate(10deg)!important;
    top: 18px;
  }
  .left-slide{
    top: 18px;
    transform: rotate(-10deg)!important;
  }
  .swiper-container .swiper {
    padding: 30px 0;
    height: 360px !important;
  }
}
@media screen and (min-width:581px) and (max-width:720px){  
  .swiper-container{
    padding: 70px 0px 0 0;
  }
  .client-details h1{
    font-size: 24px;
    line-height: 40px!important;
  }
  .client-details p{
    font-size: 16px;
    line-height: 22px!important;
  }
  .swiper-container .swiper .swiper-slide{
    width: 180px;
    height: 300px;
    margin-right: 130px!important;
  }
  .swiper-container .swiper .swiper-slide img{
    height: 325px !important;
    max-width: 180px !important;
  }
  .right-slide{
    transform: rotate(10deg)!important;
    top: 20px;
  }
  .left-slide{
    top: 20px;
    transform: rotate(-10deg)!important;
  }
  .swiper-container .swiper {
    padding: 30px 0;
    height: 400px !important;
  }
}
@media screen and (min-width:721px) and (max-width:1020px){  
  .swiper-container{
    padding: 70px 0px 0 0;
  }
  .client-details h1{
    font-size: 28px;
    line-height: 40px!important;
  }
  .client-details p{
    font-size: 20px;
    line-height: 22px!important;
  }
  .swiper-container .swiper .swiper-slide{
    width: 218px !important;
    height: 300px;
    margin-right: 60px !important;
  }
  .swiper-container .swiper .swiper-slide img{
    height: 365px !important;
  }
  .right-slide{
    transform: rotate(10deg)!important;
    top: 24px;
  }
  .left-slide{
    top: 24px;
    transform: rotate(-10deg)!important;
  }
  .swiper-container .swiper {
    padding: 50px 0;
    height: 480px !important;
  }
}

@media screen and (min-width:1021px) and (max-width:1120px){  
  .swiper-container{
    padding: 70px 0px 0 0;
  }
  .client-details h1{
    font-size: 32px;
    line-height: 50px!important;
  }
  .client-details p{
    font-size: 24px;
    line-height: 30px!important;
  }
  .swiper-container .swiper .swiper-slide{
    width: 270px !important;
    height: 300px;
    margin-right: 100px !important;
  }
  .swiper-container .swiper .swiper-slide img{
    height: 425px !important;
  }
  .right-slide{
    top: 29px;
  }
  .left-slide{
    top: 29px;
  }
  .swiper-container .swiper {
    padding: 50px 0;
    height: 530px !important;
  }
}